---
interface Props {
  label: string
  name: string
  placeholder?: string
  required: boolean
  rows?: number
}

const { label, name, placeholder, required = true, rows = 4 } = Astro.props
---

<div class="mb-4">
  <label for={name} class="block text-sm font-medium text-dark">
    {label}
  </label>
  <textarea
    id={name}
    name={name}
    placeholder={placeholder}
    required={required}
    rows={rows}
    class="mt-1 block w-full rounded-(--border-radius) border border-light-grey px-3 py-2 placeholder-dark-grey shadow-sm focus:border-primary focus:ring-primary focus:outline-none sm:text-sm"
  ></textarea>
  <span
    id={`${name}-error`}
    class="mt-1 hidden text-xs text-red-600"
    aria-live="polite"></span>
</div>
